<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<!--<button class="btn btn-lg btn-color-white gradient-violet ">-->
<!--    Next-->
<!--</button>-->
<!--<button class="btn btn-lg btn-regress">-->
<!--    Back-->
<!--</button>-->
<!--<button class="btn btn-md btn-bg-option">-->
<!--    Right now-->
<!--</button>-->
<!--<button class="btn gradient-violet btn-lg"></button>-->

<div class="cover">
    <div class="page">
        <div class="header">
            <p class="logo">
                digg
            </p>
            <div class="range-cover">
                <span>Progress</span>
                <div class="range">
                    <div class="gradient-range gradient-violet">
                    </div>
                </div>
            </div>
        </div>



        <p class="page__desc">Have you ever visited Dubai?</p>
        <div class="btn-option-cover">
            <button class="btn btn-option">
                <img src="../images/like.svg" alt="">
                Yes</button>
            <button class="btn btn-option">
                <img src="../images/dislike.svg" alt="">
                No</button>
        </div>
        <p class="page__desc-margin page__desc"> Do you have any friends or family in Dubai?</p>


        <div class="btn-option-cover">
            <button class="btn btn-option ">
                <img src="../images/like.svg" alt="">
                Yes</button>
            <button class="btn btn-option ">
                <img src="../images/dislike.svg" alt="">
                No</button>
        </div>

        <p class="page__desc-margin page__desc">How long do you want to stay in stay in Dubai?</p>
        <div class="btn-option-cover">
            <button class="btn btn-option">
                <img src="../images/upto6.svg" alt="">
                Upto 3 months</button>
            <button class="btn btn-option">
                <img src="../images/upto6.svg" alt="">
                3 to 6 months</button>
            <button class="btn btn-option">
                <img src="../images/upto6.svg" alt="">
                6 to 12 months</button>
            <button class="btn btn-option">
                <img src="../images/upto6.svg" alt="">
                +12 months</button>
            <button class="btn btn-option">
                <img src="../images/upto6.svg" alt="">
                +3 years</button>
        </div>
        <div class="btn-progress-cover">
            <button class="btn btn-lg btn-regress">Back</button>
            <button class="btn btn-lg gradient-violet">Next</button>
        </div>
    </div>
<!--    import smallRed from "../images/reds.svg"-->
<!--    import bigRed from "../images/reds.svg"-->
<!--    import Red from "../images/redb.svg"-->
<!--    import smallYellow from "../images/yels.svg"-->
<!--    import bigYellow from "../images/yelb.svg"-->
<!--    import Yellow from "../images/yellow.jpeg"-->
<!--    -->
<!--    -->
<!--    <img src={smallRed} alt="" class="small-red">-->
<!--    <img src={bigRed} alt="" class="big-red">-->
<!--    <img src={Red} alt="" class="red">-->
<!--    <img src={smallYellow} alt="" class="small-yellow">-->
<!--    <img src={bigYellow} alt="" class="big-yellow">-->
<!--    <img src={yellow} alt="" class="yellow">-->




<!--    <img src={smallRed} alt="" class="reason__small-red">-->
<!--    <img src={bigRed} alt="" class="reason__big-red">-->
<!--    <img src={Red} alt="" class="reason__red">-->
<!--    <img src={smallYellow} alt="" class="reason__small-yellow">-->
<!--    <img src={bigYellow} alt="" class="reason__big-yellow">-->
<!--    <img src={yellow} alt="" class="reason__yellow">-->



<!--    <img src={smallRed} alt="" class="preference__small-red">-->
<!--    <img src={bigRed} alt="" class="preference__big-red">-->
<!--    <img src={Red} alt="" class="preference__red">-->
<!--    <img src={smallYellow} alt="" class="preference__small-yellow">-->
<!--    <img src={bigYellow} alt="" class="preference__big-yellow">-->
<!--    <img src={yellow} alt="" class="preference__yellow">-->


<!--    <img src={smallRed} alt="" class="interests__small-red">-->
<!--    <img src={bigRed} alt="" class="interests__big-red">-->
<!--    <img src={Red} alt="" class="interests__red">-->
<!--    <img src={smallYellow} alt="" class="interests__small-yellow">-->
<!--    <img src={bigYellow} alt="" class="interests__big-yellow">-->
<!--    <img src={yellow} alt="" class="interests__yellow">-->

<!--    <img src={smallRed} alt="" class="small-red">-->
<!--    <img src={bigRed} alt="" class="big-red">-->
<!--    <img src={Red} alt="" class="red">-->
<!--    <img src={smallYellow} alt="" class="small-yellow">-->
<!--    <img src={bigYellow} alt="" class="big-yellow">-->
<!--    <img src={yellow} alt="" class="yellow">-->

<!--    <img src={smallRed} alt="" class="saving__small-red">-->
<!--    <img src={bigRed} alt="" class="saving__big-red">-->
<!--    <img src={Red} alt="" class="saving__red">-->
<!--    <img src={smallYellow} alt="" class="saving__small-yellow">-->
<!--    <img src={bigYellow} alt="" class="saving__big-yellow">-->
<!--    <img src={yellow} alt="" class="saving__yellow">-->

<!--    <img src={smallRed} alt="" class="education__small-red">-->
<!--    <img src={bigRed} alt="" class="education__big-red">-->
<!--    <img src={Red} alt="" class="education__red">-->
<!--    <img src={smallYellow} alt="" class="education__small-yellow">-->
<!--    <img src={bigYellow} alt="" class="education__big-yellow">-->
<!--    <img src={yellow} alt="" class="education__yellow">-->


<!--    <img src={smallRed} alt="" class="next-visit__small-red">-->
<!--    <img src={bigRed} alt="" class="next-visit__big-red">-->
<!--    <img src={Red} alt="" class="next-visit__red">-->
<!--    <img src={smallYellow} alt="" class="next-visit__small-yellow">-->
<!--    <img src={bigYellow} alt="" class="next-visit__big-yellow">-->
<!--    <img src={yellow} alt="" class="next-visit__yellow">-->


<!--    <img src="../images/reds.svg" alt="" class="small-red">-->
<!--    <img src="../images/redb.svg" alt="" class="big-red">-->
<!--    <img src="../images/red.svg" alt="" class="red">-->
<!--    <img src="../images/yels.svg" alt="" class="small-yellow">-->
<!--    <img src= "../images/yelb.svg" alt="" class="big-yellow">-->
<!--    <img src="../images/yellow.svg" alt="" class="yellow">-->







        <img src="../images/reds.svg" alt="" class="small-red">
        <img src="../images/redb.svg" alt="" class="big-red">
        <img src="../images/red.svg" alt="" class="red">
        <img src="../images/yels.svg" alt="" class="small-yellow">
        <img src= "../images/yelb.svg" alt="" class="big-yellow">
        <img src="../images/yellow.svg" alt="" class="yellow">



    <img src="../images/reds.svg" alt=""  class="reason__small-red">
    <img src="../images/redb.svg" alt="" class="reason__big-red">
    <img src="../images/red.svg" alt="" class="reason__red">
    <img src="../images/yels.svg" alt="" class="reason__small-yellow">
    <img src= "../images/yelb.svg" alt="" class="reason__big-yellow">
    <img src= "../images/yelb.svg" alt="" class="reason__yellow">



    <img src="../images/reds.svg" alt="" class="preference__small-red">
    <img src="../images/redb.svg" alt="" class="preference__big-red">
    <img src="../images/red.svg" alt="" class="preference__red">
    <img src="../images/yels.svg" alt="" class="preference__small-yellow">
    <img src= "../images/yelb.svg" alt="" class="preference__big-yellow">
    <img src= "../images/yelb.svg" alt="" class="preference__yellow">


    <img src="../images/reds.svg" alt="" class="interests__small-red">
    <img src="../images/redb.svg" alt="" class="interests__big-red">
    <img src="../images/red.svg" alt="" class="interests__red">
    <img src="../images/yels.svg" alt="" class="interests__small-yellow">
    <img src= "../images/yelb.svg" alt="" class="interests__big-yellow">
    <img src= "../images/yelb.svg" alt=""class="interests__yellow">

    <img src="../images/reds.svg" alt="" class="small-red">
    <img src="../images/redb.svg" alt="" class="big-red">
    <img src="../images/red.svg" alt="" class="red">
    <img src="../images/yels.svg" alt="" class="small-yellow">
    <img src= "../images/yelb.svg" alt="" class="big-yellow">
    <img src= "../images/yellow.svg" alt="" class="yellow">

    <img src="../images/reds.svg" alt="" class="saving__small-red">
    <img src="../images/redb.svg" alt="" class="saving__big-red">
    <img src="../images/red.svg" alt="" class="saving__red">
    <img src="../images/yels.svg" alt="" class="saving__small-yellow">
    <img src= "../images/yelb.svg" alt="" class="saving__big-yellow">
    <img src= "../images/yellow.svg" alt="" class="saving__yellow">

    <img src="../images/reds.svg" alt="" class="education__small-red">
    <img src="../images/redb.svg" alt="" class="education__big-red">
    <img src="../images/red.svg" alt="" class="education__red">
    <img src="../images/yels.svg" alt="" class="education__small-yellow">
    <img src= "../images/yelb.svg" alt="" class="education__big-yellow">
    <img src= "../images/yellow.svg" alt="" class="education__yellow">


    <img src="../images/reds.svg" alt="" class="next-visit__small-red">
    <img src="../images/redb.svg" alt="" class="next-visit__big-red">
    <img src="../images/red.svg" alt="" class="next-visit__red">
    <img src="../images/yels.svg" class="next-visit__small-yellow">
    <img src= "../images/yelb.svg" class="next-visit__big-yellow">
    <img src= "../images/yellow.svg" alt="" class="next-visit__yellow">






</div>








<div class="page">
    <p class="page__desc">Why do you want to come to dubai?</p>

    <div class="btn-option-cover">
        <button class="btn btn-option">
            <img src="../images/lifestyle.svg" alt="">
            Lifestyle</button>
        <button class="btn btn-option">
            <img src="../images/work-opportun.svg" alt="">
            Work opportunities</button>
        <button class="btn btn-option">
            <img src="../images/education.svg" alt="">
            Education</button>
        <button class="btn btn-option">
            <img src="../images/finance.svg" alt="">
            Finance</button>
        <button class="btn btn-option">
            <img src="../images/tourism.svg" alt="">
            Tourism</button>
        <button class="btn btn-option">
            <img src="../images/family.svg" alt="">
            Family</button>
        <button class="btn btn-option">
            <img src="../images/bussiness.svg" alt="">
            Business</button>

        <button class="btn btn-option">
            <img src="../images/security.svg" alt="">
            Security</button>
        <button class="btn btn-option">
            <img src="../images/weather.svg" alt="">
            The weather</button>
        <button class="btn btn-option">
            <img src="../images/meeting.svg" alt="">
            Meeting new people</button>
        <button class="btn btn-option">
            <img src="../images/culture.svg" alt="">
            Culture</button>
    </div>

    <div class="btn-progress-cover">
        <button class="btn btn-lg btn-regress">Back</button>
        <button class="btn btn-lg gradient-violet">Next</button>
    </div>

</div>



<div class="page">
    <p class="page__desc">How long do you want to stay in stay in Dubai?</p>

    <div class="btn-option-cover">
        <button class="btn btn-option">
            <img src="../images/construction.svg" alt="">
            Construction</button>
        <button class="btn btn-option">
            <img src="../images/hospitality.svg" alt="">
            Hospitality</button>
        <button class="btn btn-option">
            <img src="../images/real-estate.svg" alt="">
            Real estate</button>
        <button class="btn btn-option">
            <img src="../images/tourism.svg" alt="">
            Tourism</button>
        <button class="btn btn-option">
            <img src="../images/manufacturing.svg" alt="">
            Manufacturing</button>
        <button class="btn btn-option">
            <img src="../images/technology.svg" alt="">
            Technology</button>
        <button class="btn btn-option">
            <img src="../images/media.svg" alt="">
            Media</button>

        <button class="btn btn-option">
            <img src="../images/farming.svg" alt="">
            Farming</button>
        <button class="btn btn-option">
            <img src="../images/fishing.svg" alt="">
            Fishing</button>
        <button class="btn btn-option">
            <img src="../images/education.svg" alt="">
            Education</button>
        <button class="btn btn-option">
            <img src="../images/public-services.svg" alt="">
            Public services</button>
        <button class="btn btn-option">
            <img src="../images/administration.svg" alt="">
            Administration</button>
        <button class="btn btn-option">
            <img src="../images/finance-services.svg" alt="">
            Financial services</button>
        <button class="btn btn-option">
            <img src="../images/legal.svg" alt="">
            Legal</button>


        <button class="btn btn-option">
            <img src="../images/health-care.svg" alt="">
            Health care</button>
        <button class="btn btn-option">
            <img src="../images/goverment.svg" alt="">
            Government </button>
        <button class="btn btn-option">
            <img src="../images/medical.svg" alt="">
            Medical</button>
        <button class="btn btn-option">
            <img src="../images/security.svg" alt="">
            Security</button>
        <button class="btn btn-option">
            <img src="../images/logistics.svg" alt="">
            Logistics</button>
        <button class="btn btn-option">
            <img src="../images/robotix.svg" alt="">
            Robotics</button>
        <button class="btn btn-option">
            <img src="../images/fashion.svg" alt="">
            Fashion</button>
        <button class="btn btn-option">
            <img src="../images/automotive.svg" alt="">
            Automotive</button>
        <button class="btn btn-option">
            <img src="../images/transformation.svg" alt="">
            Transportation</button>
        <button class="btn btn-option">
            <img src="../images/cistomer-support.svg" alt="">
            Customer support</button>


    </div>

    <div class="btn-progress-cover">
        <button class="btn btn-lg btn-regress">Back</button>
        <button class="btn btn-lg gradient-violet">Next</button>
    </div>

</div>


<img src={construction} alt=""/>


<!--import construction from "../images/construction.svg"-->
<!--import fitness from "../images/fitness.svg"-->
<!--import health from "../images/health.svg"-->

<!--import travel from "../images/travel.svg"-->
<!--import theme from "../images/theme-parks.svg"-->
<!--import cooking from "../images/cooking.svg"-->
<!--import sport from "../images/sports.svg"-->
<!--import adventure2 from "../images/adventure2.svg"-->
<!--import music from "../images/musdic.svg"-->
<!--import fasion from "../images/fasion.svg"-->
<!--import technology from "../images/technology.svg"-->
<!--import architecture from "../images/architecture.svg"-->
<!--import writing from "../images/writing.svg"-->
<!--import gaming from "../images/gaming.svg"-->
<!--import dining from "../images/dining.svg"-->
<!--import history from "../images/history.svg"-->
<!--import theatre from "../images/theatre.svg"-->
<!--import networking from "../images/networking.svg"-->
<!--import art from "../images/art.svg"-->
<!--import politics from "../images/politics.svg"-->
<!--import fishing from "../images/fishing.svg"-->
<!--import meet-people from "../images/meet-people.svg"-->
<!--import podcast from "../images/podcast.svg"-->
<!--import gambling from "../images/gambling.svg"-->
<!--import self-improvement from "../images/self-improvement.svg"-->
<!--import foreign-languages from "../images/foreighn-languages.svg"-->
<!--import movies from "../images/movies.svg"-->
<!--import celebrities from "../images/celebrities.svg"-->
<!--import dating from "../images/dating.svg"-->
<!--import social-media from "../images/social-media.svg"-->
<!--import photography from "../images/photography.svg"-->






















<div class="page">
    <p class="page__desc">What are your interests?</p>

    <div class="btn-option-cover">
        <button class="btn btn-option">
            <img src={construction} alt="">
            Outdoors</button>
        <button class="btn btn-option">
            <img src={fitness} alt="">
            Fitness</button>
        <button class="btn btn-option">
            <img src={health} alt="">
            Health</button>
        <button class="btn btn-option">
            <img src={travel} alt="">
            Travel</button>
        <button class="btn btn-option">
            <img src={theme} alt="">
            Theme parks</button>
        <button class="btn btn-option">
            <img src= {cooking} alt="">
            Cooking</button>
        <button class="btn btn-option">
            <img src={sport} alt="">
            Sports</button>
        <button class="btn btn-option">
            <img src={adventure2} alt="">

            Adventure</button>

        <button class="btn btn-option">
            <img src={music} alt="">

            Music</button>
        <button class="btn btn-option">
            <img src={fasion} alt="">

            Fashion</button>
        <button class="btn btn-option">
            <img src={technology} alt="">

            Technology </button>
        <button class="btn btn-option">
            <img src= {architecture} alt="">
            Architecture</button>
        <button class="btn btn-option">
            <img src={writing} alt="">
            Writing</button>
        <button class="btn btn-option">
            <img src={gaming} alt="">
            Gaming</button>
        <button class="btn btn-option">
            <img src={dining} alt="">
            Dining</button>
        <button class="btn btn-option">
            <img src={history} alt="">
            History</button>

        <button class="btn btn-option">
            <img src={theatre} alt="">
            Theatre</button>
        <button class="btn btn-option">
            <img src={networking} alt="">
            Networking</button>
        <button class="btn btn-option">
            <img src={art} alt="">
            Art</button>
        <button class="btn btn-option">
            <img src={politics} alt="">
            Politics</button>
        <button class="btn btn-option">
            <img src={fishing} alt="">
            Fishing</button>
        <button class="btn btn-option">
            <img src={meet-people} alt="">
            Meet people </button>
        <button class="btn btn-option">
            <img src={podcast} alt="">
            Podcasts</button>



        <button class="btn btn-option">
            <img src={gambling} alt="">
            Gambling </button>
        <button class="btn btn-option">
            <img src={self-improvement} alt="">
            Self improvement</button>
        <button class="btn btn-option">
            <img src={foreign-languages} alt="">
            Foreign languages</button>
        <button class="btn btn-option">
            <img src={movies} alt="">
            Movies</button>
        <button class="btn btn-option">
            <img src={celebrities} alt="">
            Celebrities</button>
        <button class="btn btn-option">
            <img src={dating} alt="">
            Dating</button>
        <button class="btn btn-option">
            <img src={social-media} alt="">
            Social media </button>
        <button class="btn btn-option">
            <img src={photography} alt="">
            Photography</button>


    </div>

    <div class="btn-progress-cover">
        <button class="btn btn-lg btn-regress">Back</button>
        <button class="btn btn-lg gradient-violet">Next</button>
    </div>

</div>



<div class="page">
    <p class="page__desc">Do you have any financial savings?</p>

    <div class="btn-option-cover">
        <button class="btn btn-option">
            <img src="../images/no-savings.svg" alt="">
            No savings</button>
        <button class="btn btn-option">
            <img src="../images/0to100.svg" alt="">
            0 to 1000 aed</button>
        <button class="btn btn-option">
            <img src="../images/1000to5.svg" alt="">
            1000 to 5000 aed</button>
        <button class="btn btn-option">
            <img src="../images/5000to.svg" alt="">
            5000 to 10,000 aed</button>
        <button class="btn btn-option">
            <img src="../images/10000to.svg" alt="">
            10,000 to 20,000 aed</button>


        <button class="btn btn-option">
            <img src="../images/20000to.svg" alt="">
            20,000 to 50,000 aed</button>
        <button class="btn btn-option">
            <img src="../images/+5000.svg" alt="">
            +50,000 aed</button>






    </div>

    <div class="btn-progress-cover">
        <button class="btn btn-lg btn-regress">Back</button>
        <button class="btn btn-lg gradient-violet">Next</button>
    </div>

</div>




<div class="page">
    <p class="page__desc">What is your level of education?</p>

    <div class="btn-option-cover">
        <button class="btn btn-option">
            <img src="../images/high-school.svg" alt="">
            High school or less</button>
        <button class="btn btn-option">
            <img src="../images/college.svg" alt="">

            Collage</button>
        <button class="btn btn-option">
            <img src="../images/diploma.svg" alt="">
            Diploma</button>
        <button class="btn btn-option">
            <img src="../images/bachelor.svg" alt="">

            Batchelors</button>







    </div>

    <div class="btn-progress-cover">
        <button class="btn btn-lg btn-regress">Back</button>
        <button class="btn btn-lg gradient-violet">Next</button>
    </div>

</div>

<!--import upto6 from "../images/upto6.svg"-->



<div class="page">
    <p class="page__desc">How soon do you want to come to Dubai?</p>

    <div class="btn-option-cover">
        <button class="btn btn-option">
            <img src={upto6} alt="">
            Right now</button>
        <button class="btn btn-option">
            <img src={upto6} alt="">
            0 to 3 months</button>
        <button class="btn btn-option">
            <img src={upto6} alt="">
            3 to 6 months</button>
        <button class="btn btn-option">
            <img src={upto6} alt="">

            6 to 12 months</button>

        <button class="btn btn-option">
            <img src={upto6} alt="">
            After 1 year</button>
        <button class="btn btn-option">
            <img src={upto6} alt="">
            I'm not sure</button>





    </div>

    <div class="btn-progress-cover">
        <button class="btn btn-lg btn-regress">Back</button>
        <button class="btn btn-lg gradient-violet">Next</button>
    </div>

</div>



<div class="page__desc page__title">
    Complete - Review your application
</div>
<div class="result">
    <p class="violet-title" >Basic Information
        <img src="../images/pen.svg" alt="" class="pen">
    </p>
    <div class="result__information">
        <span class="question">Name:</span> <span class="answer">John doe</span>
        <span class="question">Date of birth:</span> <span class="answer">John doe</span>
        <span class="question">Gender:</span> <span class="answer">John doe</span>
        <span class="question">Nationality:</span> <span class="answer">John doe</span>
        <span class="question">Country of residence: </span> <span class="answer">John doe</span>
        <span class="question">Contact Number:</span> <span class="answer">John doe</span>
        <span class="question">Email:</span> <span class="answer">John doe</span>
    </div>
</div>

<div class="result result-margin">
    <p class="violet-title" >Questionnaire

    </p>

    <p class="ask">
        Have you ever visited Dubai?  <img src="../images/pen.svg" alt="" class="pen">
    </p>
    <button class="btn btn__result gradient-violet">
Yes
    </button>

    <p class="ask">
        Do you have any friends or family in Dubai?  <img src="../images/pen.svg" alt="" class="pen">
    </p>
    <button class="btn btn__result gradient-violet">
        Yes
    </button>

    <p class="ask">
        How long do you want to stay in stay in Dubai? <img src="../images/pen.svg" alt="" class="pen">
    </p>
    <button class="btn btn__result gradient-violet">
        Yes
    </button>
    <p class="ask">
        Why do you want to come to Dubai?  <img src="../images/pen.svg" alt="" class="pen">
    </p>
    <button class="btn btn__result gradient-violet">
        Yes
    </button>
    <p class="ask">
        What industries would you prefer to work in?  <img src="../images/pen.svg" alt="" class="pen">
    </p>
    <button class="btn btn__result gradient-violet">
        Yes
    </button>
    <p class="ask">
        Have you ever visited Dubai?  <img src="../images/pen.svg" alt="" class="pen">
    </p>
    <button class="btn btn__result gradient-violet">
        Yes
    </button>
    <p class="ask">
        What are your interests?  <img src="../images/pen.svg" alt="" class="pen">
    </p>
    <button class="btn btn__result gradient-violet">
        Yes
    </button>
    <p class="ask">
        Do you have any financial savings?  <img src="../images/pen.svg" alt="" class="pen">
    </p>
    <button class="btn btn__result gradient-violet">
        Yes
    </button>
    <p class="ask">
        What is your level of education?  <img src="../images/pen.svg" alt="" class="pen">
    </p>
    <button class="btn btn__result gradient-violet">
        Yes
    </button>

</div>
<div class="btn-progress-cover">
    <button class="btn btn-lg btn-regress">Back</button>
    <button class="btn btn-lg gradient-violet">Complete Application</button>
</div>

</body>
</html>


















